body {
  margin: 0;
  font-family: Georgia,Times,Times New Roman,serif;
}

.flex-header {
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  padding: 32px;
  align-items: center;
  text-align: center;
}

#select-region {
  display: block;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 30%;
  max-width: 30%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

.row {
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  padding: 0 4px;
  overflow: hidden;
}

/* Create two equal columns that sit next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  min-width: 50%;
  padding: 0 4px;
  overflow: hidden;
}

.column canvas {
  margin-top: 8px;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
}

/* Responsive layout - makes a one column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .flex-header {
    flex-direction: column;
  }
}